.drawer{
    background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter:  blur(2px) saturate(150%) grayscale(10%);
}
.color{
    height: 100vh;
    background-color: #000000;
    color: white;
    background-image: url('../images/sidebar.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 10px; */

}
.drawer-header{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 1rem;
    margin: 0;
    height: 6rem;
}
.outbtn{
    border: none;
    color: red

}
.white{
    color: white;
}