.drawer{
    background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter:  blur(2px) saturate(150%) grayscale(10%);
}
.color{
    height: 100vh;
    background-color: #018619;
}
.drawer-header{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 1rem;
    margin: 0;
    height: 6rem;
}
.outbtn{
    border: none;
    color: red

}