body{
  background-color: rgb(174, 174, 174);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  text-align: center;
  margin: 1rem;
  color: white;
  min-width: 300px;

}
.center {
  text-align: center;
}
.header{
  background-color: rgb(197, 197, 197);
  color: white;
}
.button{
  margin: 1rem;
}