.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}
.card {
  text-align: center;
  margin: 1rem;
  background-color: rgb(155, 155, 155);
  color: white;
  min-width: 300px;

}
.center {
  text-align: center;
}
